/* *{
    font-size: 20px;
} */

.vport{
    background-color: palevioletred;
    height: 10vh;
    width: 10vw;

}


/* vmim- takes the value of smaller view port
nmax- takes the value of bigger viewport */
.vport-min-max{
    background: rgb(187, 43, 67);
    height: 100px;
    width: 50vmin;
    /* width: 50vmax; */
}




.em-and-rem{
    font-size: 10px;
    background-color: aqua;
    padding: 2em;
    /* padding-top: 1px; */
}

.rem-head{
    font-size: 3em;
    margin: 2rem;
} 


.min-max-clamp{
    font-size: clamp(20px, 5rem, 30px);
    background-color: brown;
    width: clamp(300px, 50%, 1000px);
}